/*-- scss:defaults --*/

// colors
$body-bg: #08090D;
$body-color: #A1A69C;
$link-color:#A1A69C;
$navbar-bg: #1A1E26;


/*-- scss:rules --*/

h1, h2, h3, p {
  color: #A1A69C;
}


.subtitle {
  text-align: center;
}
