/*-- scss:default --*/

$backgroudColor: #00589b;

/*-- scss:rules --*/
body {
  background-color: #00589b;
}

.title {
  color: white;
}

.revel h1 {
  color: yellow;
}

h2 {
  color: gray;
}

h3 {
  color: purple;
}

p {
  color: white;
}

ul {
  color: green;
}